# Normalize all text files to LF on commit
* text=auto eol=lf

# Force binary files to not be line-ending converted
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.wasm binary
*.so binary
*.dll binary
